body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #d1d1d1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: fadeInBackground 2s forwards;
  opacity: 0;
  z-index: -1;
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main,
.main * {
  position: relative;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  align-self: center;
  justify-items: center;
  height: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10rem;
  width: 100%;
}
#logo {
  cursor: pointer;
  border-bottom: 1px solid rgb(229, 137, 16);
  padding-bottom: 1rem;
  opacity: 0.8;
  font-size: 40px;
}
a {
  text-decoration: none;
  color: currentColor;
}
p {
  line-height: 2;
}
ul {
  list-style-type: none;
  display: flex;
  align-content: flex-start;
  max-width: 18%;
}
ul li {
  height: 40px;
  width: 190px;
}
img {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  opacity: 0.7;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}
img:hover {
  width: 40px;
  height: 40px;
  opacity: 1;
}
img:hover {
  border-radius: 20px;
  opacity: 1;
}
#container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}
.main-projects {
  display: flex;
  flex-direction: column;
  width: 18%;
  animation: welFadeIn 10s forwards;
}
#main-description {
  transform-origin: 0;
  opacity: 1;
  transition: all 0.2s linear;
  transform: scaleX(1);
  width: 70%;
  align-self: center;
}
@keyframes welFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.welcome-container {
  animation: welFadeIn 10s forwards;
  opacity: 0;
  width: 70%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#welcome span {
  display: inline-block;
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  font-size: 70px;
}
#welcome span:nth-child(1) {
  animation-delay: 0.1s;
  color: rgb(248, 224, 193);
}
#welcome span:nth-child(2) {
  animation-delay: 0.3s;
  color: rgb(244, 216, 179);
}
#welcome span:nth-child(3) {
  animation-delay: 0.5s;
  color: rgb(252, 220, 178);
}
#welcome span:nth-child(4) {
  animation-delay: 0.7s;
  color: rgb(246, 209, 165);
}
#welcome span:nth-child(5) {
  animation-delay: 0.9s;
  color: rgb(235, 197, 150);
}
#welcome span:nth-child(6) {
  animation-delay: 1s;
  color: rgb(225, 188, 143);
}
#welcome span:nth-child(7) {
  animation-delay: 1.2s;
  color: rgb(200, 166, 125);
}
#welcome span:nth-child(8) {
  animation-delay: 1.4s;
  color: rgb(190, 152, 107);
}

.main-projects p {
  font-size: 30px;
  padding-top: 1rem;
  background-image: linear-gradient(
    to right,
    rgb(229, 137, 16),
    rgb(246, 221, 188)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  padding-bottom: 0.5rem;
  width: 80%;
}

.projects-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
.projects-list a span {
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    rgb(229, 137, 16),
    rgb(246, 221, 188)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: 100;
  text-align: start;
  transition: all 0.3s ease-in-out;
  color: currentColor;
  line-height: 2.5;
}
.projects-list a span:hover {
  letter-spacing: 1px;
  background-image: linear-gradient(
    to right,
    rgb(247, 223, 191),
    rgb(167, 98, 9)
  );
}
.project-description {
  display: flex;
  flex-direction: column;
  line-height: 2;
  animation: fadProject 2s;
  padding-top: 2.5rem;
}
@keyframes fadProject {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#a4baz-link {
  font-size: 20px;
}
span {
  font-size: 16px;
}
.view-project {
  display: flex;
  flex-direction: row;
}
.view-project a {
  padding-right: 1rem;
  padding-bottom: 2px;
  background-image: linear-gradient(
    to right,
    rgb(229, 137, 16),
    rgb(246, 221, 188)
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 93% 1px;
  margin-right: 1rem;
  opacity: 0.8;
  padding-top: 1rem;
}
.view-project a:hover {
  opacity: 1;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    rgb(246, 221, 188),
    rgb(229, 137, 16)
  );
}
.project-description p {
  color: rgb(249, 205, 147);
}

noscript {
  line-height: 2;
}
noscript strong {
  color: rgb(249, 205, 147);
}
@media screen and (max-width: 1024px) {
  #header {
    flex-direction: column;
    width: 100%;
    padding-top: 1rem;
  }
  #container {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  #welcome span,
  h2 {
    font-size: 40px;
  }
  .projects-list {
    flex-direction: row;
    padding-top: 0;
    width:auto;
  }
  #logo {
    font-size: 30px;
    width: 80%;
  }
  ul {
    max-width: 35%;
    padding-bottom: 2%;
  }
  .main-projects p,
  #main-description {
    width: 100%;
  }
  .main-projects {
    width: 100%;
  }
  .project-description {
    padding-top: 0%;
  }
  .projects-list a span {
    line-height: 0;
  }
  .main-projects p {
    font-size: 20px;
  }
  .projects-list a span {
    font-size: 16px;
  }
}
@media screen and (min-width: 561px) and (max-width: 760px) {
  .projects-list {
    flex-direction: row;
    width: auto;
  }
  #logo {
    font-size: 25px;
  }
  .main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .view-project {
    flex-direction: column;
  }
  .view-project a {
    width: max-content;
  }
}
@media screen and (max-width: 560px) {
  #logo,
  h2,
  #welcome span {
    font-size: 25px;
  }
  .projects-list {
    flex-direction: row;
    width: 100%;
  }
  ul {
    max-width: 50%;
  }
  .main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .view-project {
    flex-direction: column;
  }
  .view-project a {
    width: max-content;
  }
}
